*{
    margin: 0;
    padding: 0;
}
/* .MainDiv{
    display: flex;
   justify-content: center;
   height: 50px;
   align-items: center;

}
.Heading {
    font-size: 22px;
    position: fixed;
}
.logoutButton {
padding-left: 1400px;
display: flex;
align-items: center;
} */

#button {
    padding-left: 350px;
    display: flex;
    justify-items: center;
}

.LogoffButton {
color: #1B4D3E;
}

.LogoutButtonHeader {
    color: #1B4D3E;
}

.LogoffButtonContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-left: 100px;
}

.LogoffButton {
    font-size: 30px; /* Adjust icon size */
}

.logoutText {
    display: none; /* Hide the text initially */
    margin-left: 8px; /* Optional: Add some space between icon and text */
    font-size: 14px; /* Adjust font size */
    color: #000; /* Text color */
}

.LogoffButtonContainer:hover .logoutText {
    display: inline-block; /* Show text when hovering */
}

/* .LogoffButtonContainer:hover .LogoffButton {
    color: #007BFF;
} */

.LogoutButtenH {
    border: none;
}



