*{
    margin: 0px;
    padding: 0pc;
}
.mainDiv{
    display: flex;
    flex-direction: column;
}
.Heading {
    background-color:rgb(37, 74, 158); 
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.HomePage {
    border: 1px solid rgb(37, 74, 158);
}